# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

tests_output.txt
tests_output_?.txt

0?/0??
1?/1??
2?/2??
*Reader
*Parser
*Generator
*Counter
*Validator
*Scrambler
*Corrector
*Finder
main

site
others

# Project intermediate files
*.sdf
*.VC.db

Debug
Release
ipch
*.opendb
*.suo
.vs/
